/*Scss files that start with an underscore is ignored by the compiler*/
/*by using partials we can break up in partial components, so we can work on them individually*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}